@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif
}

:root{
    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 59%);
    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
    
}

.letraPequeña{
    font-size: 20px;
}

.letraMediana{
    font-size: 25px;
}

.letraGrande{
    font-size: 45px;
}


 /* Contenedores */
 
.primerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Purple500);
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 3  / 6;    
}

.primerDivBr2{
    display: none;
}

.tenX_span{
    color: var(--Yellow500);
}

.segundoDiv{
    border: 0.5px solid rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.tercer_Div{
    background-color: var(--Yellow500);
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.tercerDivImg{
    width: 50%;
}

.cuarto_Div{
    background-color: var(--Purple100);
    border-radius: 10px;
    border: none;
}

.quinto_Div{
    background-color: var(--Purple500);
    border-radius: 10px;
    border: none;
}

.quinto_Div__text{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.sextoDiv{
    border: 0.5px solid rgb(224, 224, 224);
    border-radius: 10px;
}

.sexto_Div__text{
    font-size: 50px;
    font-weight: 500;
}

.septimoDiv{
    background-color: var(--Yellow100);
    border: none;
    border-radius: 10px;

}

.septimo_Div__span{
    color: var(--Purple500);
    font-style: italic;
}

.octavoDiv{
    background-color: var(--Yellow500);
    border-radius: 10px;
    border: none;
}

@media (min-width: 768px) {
    .bento__grid {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 35% 15% 15% 35%;
    }

    .letraMuyPequeña{
        font-size: 17px;
    }

    .letraPequeña{
        font-size: 25px;
    }

    .letraMediana{
        font-size: 30px;
    }

    .letraGrande{
        font-size: 30px;
    }

    .card{
        margin: 0;
    }

    .primerDiv {
        width: 96%;
        grid-row: 1 / 1;
        grid-column: 4  /  span 4;
    }
    .primerDivBr1{
        display: none;
    }
    .primerDivBr2{
        display: block;
    }

    .primerDivImg{
        width: 120px;
    }

    .first__DivText{
        font-size: 30px;
    }

    .segundoDiv {
        grid-row: 2 / 4;
        grid-column: 4 / 6;

    }

    .tercer_Div {
        height: 90%;
        grid-row: 2 / 4;
        grid-column: 6 / 8;
        overflow: hidden;
    }

    .tercerDivImg{
        width: 100%;
        margin-bottom: 20px;
    }

    .cuarto_Div {
        grid-row: 1 / 4;
        grid-column: 8 / 10;
    }

    .quinto_Div {
        width: 97%;
        grid-row: 4 / 5;
        grid-column: 6 / 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
    }

    .quinto_Div__img{
        width: 45%;
    }

    .sextoDiv {
        grid-row: 4 /  5;
        grid-column: 4 / 6;
    }

    .septimoDiv {
        grid-row:  1 / 3;
        grid-column:  2 / 4;
    }

    .octavoDiv {
        grid-row: 3 / 5;
        grid-column:  2 / 4;
        
    }

    /* Saltos de linea */
    .br-mobile{
        display: none;
    }
}